<!doctype html>
<html lang="en" ng-app="lunchChecker">
  <head >
    <meta charset="utf-8"/>
    <title>check lunch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="lunchController">
     <h1>check lunch</h1>
        
         <div class="form-group" >
             <input id="lunch-menu" type="text" ng-model="list" ng-style="textStyle"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group" >
             <button class="btn btn-default" ng-click="check()">Check </button>
         </div>
         <div class="form-group message" ng-style="messageStyle">
          {{message}}
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
